<h3><span style="font-weight:normal">{% trans %}Hi{% endtrans %}</span> {{ first_name }}<span style="font-weight:normal">!</span></h3>

<br /><br />

<p>{% trans %}Here's the copy of your message to{% endtrans %} <b>{{ contact_name }}</b>:</p>

<p>{{ message }}</p>
