form button {

    margin-top: 50px;

}

form textarea {

    height: 150px;
    margin-bottom: 20px

}

form .form-group {

    height: 30px

}

#form {

    margin-top: 50px

}

#lang_switch {

    width: 100%;
    float: right;
    margin-bottom: 30px

}

.form {

  margin: 50px auto;
  width: 50%;
  border: 1px solid #a1a1a1;
  padding: 30px;

}

.g-recaptcha {

      float: left;

}
